{% extends "layout.twig" %}

{% block content %}
<section class="page_post">
	<div class="section_wrap">
		<h1 class="page_title">This is the test page</h1>
		<div class="page_content">Hello !!!</div>
	</div>
</section>
{% endblock %}